body {
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: $primary-text-color;

  background-color: $primary-bg-color;

  &::before {
    content: '';
    position: absolute;
    z-index: -9;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);

    display: block;
    min-width: 320px;
    height: 364px;

    background-image: linear-gradient(
        rgba(11, 11, 11, 0.5),
        rgba(11, 11, 11, 0.5)
      ),
      url('../images/hero/hero-img_mob.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(retina) {
      background-image: linear-gradient(
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url('../images/hero/hero-img_mob@2x.jpg');
    }

    @include mq(mob-only) {
      width: 100%;
    }

    @include mq(tab) {
      width: 768px;

      background-image: linear-gradient(
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url('../images/hero/hero-img_tab.jpg');

      @include mq(retina) {
        background-image: linear-gradient(
            rgba(11, 11, 11, 0.5),
            rgba(11, 11, 11, 0.5)
          ),
          url('../images/hero/hero-img_tab@2x.jpg');
      }
    }

    @include mq(desk) {
      width: 1280px;
      height: 446px;

      background-image: linear-gradient(
          rgba(11, 11, 11, 0.5),
          rgba(11, 11, 11, 0.5)
        ),
        url('../images/hero/hero-img_desk.jpg');

      @include mq(retina) {
        background-image: linear-gradient(
            rgba(11, 11, 11, 0.5),
            rgba(11, 11, 11, 0.5)
          ),
          url('../images/hero/hero-img_desk@2x.jpg');
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    z-index: -10;
    top: 364px;
    left: 50%;
    transform: translate(-50%, 0);

    display: block;
    min-width: 320px;
    min-height: 1341px;

    background-image: url('../images/noise-body/noise-body-mobile@1x.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include mq(retina) {
      background-image: url('../images/noise-body/noise-body-mobile@2x.png');
    }

    @include mq(mob-only) {
      width: 100%;
      height: 100%;
    }

    @include mq(tab) {
      width: 768px;
      height: 100%;

      background-image: url('../images/noise-body/noise-body-tablet@1x.png');

      @include mq(retina) {
        background-image: url('../images/noise-body/noise-body-tablet@2x.png');
      }
    }

    @include mq(desk) {
      width: 1280px;
      height: 100%;

      background-image: url('../images/noise-body/noise-body-desktop@1x.png');

      @include mq(retina) {
        background-image: url('../images/noise-body/noise-body-desktop@2x.png');
      }
    }
  }
}

button {
  cursor: pointer;
}

main {
  &::before {
    content: '';
    position: absolute;
    z-index: -8;
    top: 262px;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;
    height: 102px;

    background-image: linear-gradient(
      180deg,
      rgba(13, 13, 13, 0) 0%,
      rgba(14, 14, 14, 0.8) 100%
    );

    @include mq(tab) {
      background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0) 0%,
        rgba(14, 14, 14, 0.8) 100%
      );
    }

    @include mq(desk) {
      top: 344px;

      background-image: linear-gradient(
        180deg,
        rgba(13, 13, 13, 0.19) 0%,
        rgba(14, 14, 14, 0.8) 100%
      );
    }
  }
}

.container {
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  overflow: hidden;

  @media screen and(min-width: 768px) {
    max-width: 768px;
    padding: 0 32px;
  }

  @media screen and(min-width: 1280px) {
    max-width: 1200px;
    padding: 0 16px;
  }
}
