<section class="events container">
    <ul class="events__cards">
        <li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li>
        <li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li><li class="events__card">
            <div class="events__poster">
                <div class="events__poster--decor"></div>
                <img src="./images/sample-jpg.jpg" alt="poster" class="events__poster--img">
            </div>
            <div class="events__info">
                <h2 class="events__info--title">Eurovision 2021 finals!</h2>
                <p class="events__info--date">2021-05-13</p>
                <p class="events__info--place">
                    <svg class="events__info--icon">
                        <use xlink:href="./images/sprite.svg#location"></use>
                    </svg>
                    Palace of Ukraine
                </p>
            </div>
        </li>
    </ul>
</section>