<section class="info-modal">
    <div>
        <ul class="info-list">
            <li>
                <h2 class="info-name">INFO</h2>
                <p class="info-text">Atlas Weekend is the largest music festival
                    in Ukraine.More than 200 artists will create
                    a proper music festival atmosphere on 10 stages</p>
            </li>
            <li>
                <h2 class="info-name">WHEN</h2>
                <p class="info-text">2021-06-09</p>
                <p class="info-text">20:00 (Kyiv/Ukraine)</p>
            </li>
            <li>
                <h2 class="info-name">WHERE</h2>
                <p class="info-text">Kyiv, Ukraine</p>
                <p class="info-text">VDNH</p>
            </li>
            <li>
                <h2 class="info-name">WHO</h2>
                <p class="info-text">The Black Eyed Peas</p>
            </li>
            <ul>
                <li>
                    <h2 class="info-name">PRICES</h2>
                     <p class="info-text">Standart 300-500 UAH</p>
                    <button class="buy-btn">BUY TICKETS</button>
                </li>
                <li>
                     <p class="info-text">VIP 1000-1500 UAH</p>
                    <button class="buy-btn">BUY TICKETS</button>
                </li>
            </ul>
        </ul>
        <button class="info-btn">MORE FROM THIS AUTHOR</button>
    </div>
</section>