<!------------ Search-form --------------->
<section class="search-form">
  <div class="container search-form__container">
    <div class="search-form__wripper">
      <input
        class="search-form__input"
        type="text"
        name="event"
        id="event"
        placeholder="Start searching"
      />

      <svg class="search-form__icon" width="12" height="12">
        <use class="icon-event-form" href="./images/sprite.svg#search"></use>
      </svg>
    </div>

    <div class="search-form__wripper">
      <input
        class="search-form__input"
        type="text"
        name="country"
        id="country"
        placeholder="Choose country"
      />
      <svg class="search-form__icon" width="15" height="10">
        <use class="icon-event-form" href="./images/sprite.svg#dropdown"></use>
      </svg>
    </div>
  </div>
</section>
